.formInput {
  width: 100%;
  margin: 2px 0px 15px 0;
  padding: 10px;
  border: 1px solid rgb(200, 148, 93);
  font-size: 18px;
}

.formCard {
    max-width: 600px;
}

.label {
  font-weight: 600;
  color: #C8945D;
}

.cards__boxAdd {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  margin-top: 20px;
}

.allRight {
  color: #ff9a1c;
  font-size: 28px;
}
