.search {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(200, 148, 93);
}

.formInput {
  width: 100%;
  margin: 2px 0px 5px 0;
  padding: 10px;
  border: 1px solid rgb(200, 148, 93);
  font-size: 18px;
}
