.modal {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(80, 79, 77, 0.7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal_wrapper {
    max-width: 1000px;
    background-color: aliceblue;
    color: black;
    font-size: 18px;
    padding: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.modal_content {
    display: flex;
    flex-direction: row;
}


.modal_header {
    margin: 0;
    color: #C8945D;
    font-size: 24px;
}

.modal_foto img {
    width: 477px;
    height: 300px;
    border: 1px solid #C8945D;
    border-radius: 4px;
    object-fit: cover;
}
.modal_description {
    padding: 10px;
    text-align: left;
    margin: 10px;
    line-height: 120%;
    margin: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.field_description {
    margin-top: 10px;
    font-size: 14px;    
    text-align: justify;
}

.modal-close {
    cursor: pointer;
    padding: 1rem;
    margin: -2rem -1rem -1rem auto;
    display: flex;
    justify-content: end;
    font-weight: 900;
  }
  .modal-close:hover {
        color:#ff9a1c;
  }